<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <div>
    <label for="firstName">First Name: </label>
    <input type="text" formControlName="firstName" id="firstName" >
  </div>
  <div>
    <label for="lastName">Last Name: </label>
    <input type="text" formControlName="lastName" id="lastName">
  </div>
  <div>
    <label for="username">Username: </label>
    <input type="text" formControlName="username" id="username">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" formControlName="password" id="password">
  </div>
  <div>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </div>
</form>
