<app-darkout></app-darkout>
<section class="signup">
  <div class="container">
      <div class="signup-content">
          <div class="signup-form">
              <h2 class="form-title">Sign up</h2>
              <form [formGroup]="registerForm" (ngSubmit)="registerUser(shouldAddDoctorInfo)" class="register-form" id="register-form">
                  <div class="form-group">
                      <input type="text" name="name" id="name" placeholder="Your Name" formControlName="name"  />
                  </div>
                  <div class="form-group">
                      <input type="text" name="username" id="username" placeholder="Your Username" formControlName="username"/>
                  </div>
                  <div class="form-group">
                      <input type="password" name="password" id="password" placeholder="Password" formControlName="password" />
                  </div>
                  <div class="form-group">
                      <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Repeat your password" formControlName="confirmPassword" />
                  </div>
                  <!--<div class="form-group">
                      <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                      <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                  </div>-->
                 <app-doctor-register *ngIf="authenticationService.isUserLoggedIn() && authenticationService.userHasRole(userRole.ADMIN)" formControlName="doctorAdditional"></app-doctor-register>
                  <div class="form-group">
                      <input type="submit" [disabled]="registerForm.invalid" name="signup" id="signup" class="form-submit" value="Register"/>
                  </div>
              </form>
          </div>
          <div class="signup-image">
            <figure><img src="../../assets/images/signup-image.jpg" alt="sing up image"></figure>
            <a *ngIf="!authenticationService.isUserLoggedIn()" style="cursor: pointer;" (click)="redirectToLogin()" class="signup-image-link">
                I am already member
            </a>
          </div>
      </div>
  </div>
</section>
