<article class="material-card PrincetonGreen">
    <h2>
        <span>Kevin Spacey</span>
        <strong>
            <i class="fa fa-fw fa-star"></i>
            Cardiologist
        </strong>
    </h2>
    <div class="mc-content">
        <div class="img-container">
            <img class="img-responsive" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-kevin-spacey.jpg">
        </div>
        <div class="mc-description">
            Dr. Kevin Spacey is a professor of medicine at SUNY Downstate College of Medicine in New York and editor-in-chief of The Journal of Clinical Hypertension.
        </div>
    </div>
    <a class="mc-btn-action">
        <i class="fa fa-bars"></i>
    </a>
    <div class="mc-footer">
        <h4 routerLink="/doctors/1/appointment" style="cursor: pointer;">
            Book an appointment
        </h4>
        <a class="fa fa-fw fa-facebook"></a>
        <a class="fa fa-fw fa-twitter"></a>
        <a class="fa fa-fw fa-linkedin"></a>
        <a class="fa fa-fw fa-google-plus"></a>
    </div>
</article>