<div *ngIf="dayClickedFlag">
  <div id="darkout" (click)="clearDayClickedFlag()">
  </div>
</div>
  <div class="modal-content" [ngClass]="{'displayed': this.dayClickedFlag}">
    <div class="modal-header">
      <span class="close" (click)="clearDayClickedFlag()">&times;</span>
      <h3>Book Appointment</h3>
    </div>
    <div class="modal-body">
      <ul id="hourItems">
        <li *ngFor="let freeHour of freeHours"
        class="hourItem" 
        (click)="onHourClicked(freeHour.format('YYYY-MM-DDTHH:mm:ss'))">
          {{freeHour.format('HH:mm')}}
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <input id="button" type="button" value="BOOK HOUR" (click)="appointmentClicked()"/>
    </div>
  </div>
<div class="calendarContainer">
  <div class="row text-center">
    <div class="col-sm-6">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-sm-6">
      <div class="btn-group">
        <div
          id="previous"
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate">
          Previous
        </div>
        <div
          id="today"
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Today
        </div>
        <div
          id="next"
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate">
          Next
        </div>
      </div>
    </div>
  </div>
  <br>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      style="cursor: pointer;"
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
  </div>
</div>
