<div class="container">
  <div id="video_overlays">
    <div id="overlay_content">
      <h1> Saving lives is what we do. </h1>
      <h3> As to diseases, make a habit of two things —<br>to help, or at least, to do no harm. </h3>
      <br>
      <input id="search_text" type="text" placeholder="Find a doctor e.g. Gregory House"/>
      <input id="search_button" type="button" value="SEARCH"/>
    </div>
  </div>
  <div fxShow="true" fxHide.sm="true" fxHide.xs="true">
      <video id="home_video" autoplay loop>
        <source src="../../../assets/videos/dna.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
</div>