<div class="column">
    <!--<h2>Best place to take care of your health</h2>
    <h3>Best place to take care of your health, Best place to take</h3>
    <h4>Best place to take care of your health, Best place to take care of your health</h4>-->

    <div class="bm_wrapper col-md-4 col-sm-6 col-xs-12">
        <div class="bm_container" id="icon-container-thermometer">
            <div class="bm_inner_container" id="icon-thermometer">
            </div>
        </div>
        <h4> Free examinations </h4>
    </div>
    <div class="bm_wrapper col-md-4 col-sm-6 col-xs-12">
        <div class="bm_container" id="icon-container-mobile">
            <div class="bm_inner_container" id="icon-mobile"></div>
        </div>
        <h4> 24h on-call for emergencies </h4>
    </div>
    <div class="bm_wrapper col-md-4 col-sm-6 col-xs-12">
        <div class="bm_container" id="icon-container-pills">
            <div class="bm_inner_container" id="icon-pills"></div>
        </div>
        <h4> On-demand medication </h4>
    </div>
    <div class="bm_wrapper col-md-4 col-sm-6 col-xs-12">
        <div class="bm_container" id="icon-container-stethoscope">
            <div class="bm_inner_container" id="icon-stethoscope"></div>
        </div>
        <h4> Always a doctor on duty </h4>
    </div>
    <div class="bm_wrapper col-md-4 col-sm-6 col-xs-12">
        <div class="bm_container" id="icon-container-syringe">
            <div class="bm_inner_container" id="icon-syringe"></div>
        </div>
        <h4> Always a nurse on duty </h4>
    </div>
    <div class="bm_wrapper col-md-4 col-sm-6 col-xs-12">
        <div class="bm_container" id="icon-container-ambulance">
            <div class="bm_inner_container" id="icon-ambulance"></div>
        </div>
        <h4> Lightning fast transportation</h4>
    </div>
    <div class="bm_wrapper col-md-4 col-sm-6 col-xs-12">
        <div class="bm_container" id="icon-container-apple">
            <div class="bm_inner_container" id="icon-apple"></div>
        </div>
        <h4> Healthy, controlled food </h4>
    </div>
    <div class="bm_wrapper col-md-4 col-sm-6 col-xs-12">
        <div class="bm_container" id="icon-container-atoms">
            <div class="bm_inner_container" id="icon-atoms"></div>
        </div>
        <h4> World-class laboratory </h4>
    </div>
    <!--<div class="bm_container" id="icon-container-cross">
        <div class="bm_inner_container" id="icon-cross"></div>
    </div>
    <div class="bm_container" id="icon-container-bandaid">
        <div class="bm_inner_container" id="icon-bandaid"></div>
    </div>
        <div class="bm_container" id="icon-container-bottle">
        <div class="bm_inner_container" id="icon-bottle"></div>
    </div>
        <div class="bm_container" id="icon-container-eye">
        <div class="bm_inner_container" id="icon-eye"></div>
    </div>
        <div class="bm_container" id="icon-container-mobile">
        <div class="bm_inner_container" id="icon-mobile"></div>
    </div>
        <div class="bm_container" id="icon-container-pills">
        <div class="bm_inner_container" id="icon-pills"></div>
    </div>
        <div class="bm_container" id="icon-container-stethoscope">
        <div class="bm_inner_container" id="icon-stethoscope"></div>
    </div>
        <div class="bm_container" id="icon-container-syringe">
        <div class="bm_inner_container" id="icon-syringe"></div>
    </div>
        <div class="bm_container" id="icon-container-ambulance">
        <div class="bm_inner_container" id="icon-ambulance"></div>
    </div>
        <div class="bm_container" id="icon-container-apple">
        <div class="bm_inner_container" id="icon-apple"></div>
    </div>
        <div class="bm_container" id="icon-container-atoms">
        <div class="bm_inner_container" id="icon-atoms"></div>
    </div>
        <div class="bm_container" id="icon-container-heart">
        <div class="bm_inner_container" id="icon-heart"></div>
    </div>
        <div class="bm_container" id="icon-container-bicycle">
        <div class="bm_inner_container" id="icon-bicycle"></div>
    </div>
        <div class="bm_container" id="icon-container-dropper">
        <div class="bm_inner_container" id="icon-dropper"></div>
    </div>
        <div class="bm_container" id="icon-container-female_doctor">
        <div class="bm_inner_container" id="icon-female_doctor"></div>
    </div>
        <div class="bm_container" id="icon-container-female_nurse">
        <div class="bm_inner_container" id="icon-female_nurse"></div>
    </div>
        <div class="bm_container" id="icon-container-male_doctor">
        <div class="bm_inner_container" id="icon-male_doctor"></div>
    </div>
        <div class="bm_container" id="icon-container-male_nurse">
        <div class="bm_inner_container" id="icon-male_nurse"></div>
    </div>
        <div class="bm_container" id="icon-container-thermometer">
        <div class="bm_inner_container" id="icon-thermometer"></div>
    </div>
        <div class="bm_container" id="icon-container-tubes">
        <div class="bm_inner_container" id="icon-tubes"></div>
    </div>-->
</div>