  * {
    box-sizing: border-box;
  }
  
  button {
    border: none;
  }
  
  .column {
    width: 80%;
    margin: auto;
  }
  
  .bm_wrapper {
    width: 300px;
    height: 250px;
  }
  
  .bm_wrapper h4 {
    text-align: center;
    font-family: metropolis-semibold;
  }

  .bm_container {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    filter: hue-rotate(170deg);
    overflow: hidden;
  }
  
  .bm_inner_container {
    width: 80%;
    margin: auto;
    margin-bottom: -30px;
  }
  
  .header .bar {
    background-color: #ffffff;
    height: 10px;
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 634.7 9.2" style="enable-background:new 0 0 634.7 9.2;" xml:space="preserve"><g><rect fill="#F26B53" width="158.8" height="9.2"/><rect x="158.8" fill="#F3B573" width="158.8" height="9.2"/><rect x="317.2" fill="#5BC2A8" width="158.8" height="9.2"/><rect x="476" fill="#603256" width="158.8" height="9.2"/></g></svg>');
  }
  
  .navigation {
    text-align: center;
  }
  
  .navigation .navButton {
    width: 80px;
    height: 50px;
    background-color: #F26B53;
    color: #DDDDDD;
    cursor: pointer;
  }
  
  #navText {
    display: inline-block;
    padding: 0 10px;
  }
  
  .navigation .navButton:hover {
    color: white;
  }
  /*
  @media only screen and (max-width: 680px) {
    .header {
      margin-bottom: 20px;
      font-size: 20px;
    }
    .bm_container {
      margin-bottom: 50px;
      height: 120px;
    }
    .bm_inner_container {
      height: 100px;
    }
    .bm_container .title {
      font-size: 14px;
    }
    .header .title {
      padding-top: 10px;
      height: 70px;
    }
    .header .bar {
      height: 2px;
    }
    .navigation {
      margin-bottom: 20px;
    }
    .navigation .navButton {
      height: 40px;
    }
  }*/
  
  .bm_icon_hoverable {
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(.18, .78, .37, .84);
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
  
  .bm_shadow_hoverable {
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(.18, .78, .37, .84);
    transform-origin: 50% 50%;
    transform: translate(0, 0);
  }
  
  .bm_icon_hoverable:hover {
    transform: scale(1.05, 1.05);
  }
  
  .bm_icon_hoverable:hover .bm_shadow_hoverable {
    transform: translate(10px, 10px);
  }
  
  .bm_color_1{
      fill: #32CDB8;
      stroke: #32CDB8;
  }
  .bm_color_2{
      fill: #32CDB8;
      stroke: #32CDB8;
  }
  .bm_color_3{
      fill: #5BC2A8;
      stroke: #5BC2A8;
  }
  .bm_color_4{
      fill: #32CDB8;
      stroke: #32CDB8;
  }