<section class="container">
    <div class="page-header">
        <h1>Browse our doctors<br>
          <small>All the best doctors in the world</small></h1>
      <input id="search_input" type="text" (keyup)="valueChange($event.target.value)" placeholder="Search...">
    </div>
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12"
             *ngFor="let doctor of this.filteredDoctors | paginate: { itemsPerPage: 6, currentPage: p }">
          <app-doctor-card [doctor]="doctor"></app-doctor-card>
        </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</section>
