.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex:1 auto;
}

.mat-toolbar {
    background-color: #314351;
    color:white;
    font-family: metropolis-regular;
    font-size: 14px;
    min-height:45px;
    max-height:45px;
}

h4 {
    font-family: metropolis-regular;
    font-size: 16px;
}

.mat-toolbar-row {
    width:80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color:white;
}

.mat-icon-button {
    color:white;
    background-color:transparent;
}

.mat-sidenav-container {
    margin: 0 auto;
    padding: 0;
}

.mat-sidenav {
    background-color: #314351;
    position: absolute;
    width:300px;
}

.mat-sidenav-content {
    float: left;
    overflow: hidden;
}