<div>
  <!-- DOCS: secondary router used to display login & register forms.
      This way, components can be displayed on different document places
      depending on route value.-->
  <router-outlet name="sign"></router-outlet>
  <mat-toolbar style="max-height:20px">
    <mat-toolbar-row>

      <a [routerLink]="[{ outlets: { primary: ['home']} }]" mat-button>
        <h4>Princeton Plainsboro</h4>
      </a>

      <div fxShow="true" fxHide.lt-md="true">
        <a [routerLink]="[{ outlets: { primary: ['doctors']} }]" mat-button>
          Doctors
        </a>
      </div>
      <div *ngIf="isUserLoggedIn() && authenticationService.userHasRole(userRole.USER)">
        <a routerLink="/" mat-button>My appointments</a>
      </div>
      <div *ngIf="isUserLoggedIn() && authenticationService.userHasRole(userRole.DOCTOR)">
        <a routerLink="/" mat-button>Diagnose help</a>
      </div>

      <span class="example-spacer"></span>

      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>  

      <div *ngIf="!isUserLoggedIn()" fxShow="true" fxHide.lt-md="true">
        <a [routerLink]="[{ outlets: { sign: ['login'] } }]" mat-button>
          <mat-icon>account_box</mat-icon> Sign in
        </a>
      </div>

      <div *ngIf="!isUserLoggedIn() || (isUserLoggedIn() && authenticationService.userHasRole(userRole.ADMIN))"
           fxShow="true" fxHide.lt-md="true">
        <a [routerLink]="[{ outlets: { sign: ['register'] } }]" mat-button>
          <mat-icon>lock</mat-icon> Sign up
        </a>
      </div>

      <div *ngIf="isUserLoggedIn() && authenticationService.userHasRole(userRole.DOCTOR)">
        <a routerLink="profile" mat-button>My profile</a>
      </div>
      <div *ngIf="isUserLoggedIn()" fxShow="true" fxHide.lt-md="true">
        <a (click)="logout()" mat-button>
          <mat-icon>account_box</mat-icon> Logout
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" mat-list-item>
          Doctors
        </a>
        <a href="#" mat-list-item>
            Patients
          </a>
        <a href="#" mat-list-item>
          <mat-icon>account_box</mat-icon> Log in
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
